extends partial/layout

block content
  
  header
    .wrap
      -if(parent)
        a.back(href=parent)
          i.ic.ic-back(style="color:#333;font-size:18px;")
      a.home(href='/')= _config_('title')
      -if(writeable)
        .upload-menu
          a
            i.ic.ic-upload-folder
            input(type="file",multiple="",webkitdirectory="",directory="",name="file")
          a
            i.ic.ic-upload
            input(type="file",multiple="",name="file")
  section.wrap
    .list-header
      .row
        .col-md-7.col-sm-6.col-xs-8= __('filename')
        .col-md-2.col-sm-2.col-xs-4.text-right(data-sort="size")= __('size')
        .col-md-3.col-sm-4.hidden-xs.text-right(data-sort="time")= __('last_modified')
    ul.list
      each i in data
        li
          a.clearfix(href=i.href , target=i.type == 'folder' ? '' : '_blank')
            .row
              span.file-name.col-md-7.col-sm-6.col-xs-8
                i.ic(class='ic-'+i.type)
                | #{i.name}
              span.file-size.col-md-2.col-sm-2.col-xs-4.text-right
                | #{i.size}
              span.file-modified.col-md-3.col-sm-4.hidden-xs.text-right
                | #{i.updated_at}
  -if(readme)
    link(rel='stylesheet', type='text/css', href='https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.min.css')
    section.wrap(style="margin-top:64px;border-top:1px solid #eee;")
      article.markdown-body(style="padding:32px;")
        | !{readme}
  script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
  script(src='/script/sort.js')

  -if(writeable)
    script(src='/script/upload.js')
  include partial/footer



  

  
