extends layout

block content
  include message
  
  header
    .wrap
      a.home(href='/')= _title_()
  section.wrap
    .menu
      - if(access)
        .form-group
          a.btn.btn-success(href='?a=export',target='_blank')= __('export')

        .panel.panel-default
          .panel-heading
            span= __("general")
          .panel-body
            form.form-horizontal(method='post')
              input(type='hidden',name='a',value='cfg')
              .form-group
                .col-sm-6
                  label= __('enable_proxy')
                .col-sm-3
                  select.form-control(name='enabled_proxy',value=config.enabled_proxy,required)
                    option(value='1', selected=config.enabled_proxy==1 ? 'selected' : null)= __('enable')
                    option(value='0', selected=config.enabled_proxy==0 ? 'selected' : null)= __('disable')
              .form-group
                .col-sm-6
                  label= __('folder_max_age')
                .col-sm-3
                  input.form-control(type='text', name='cache_refresh_dir' , value=config.cache_refresh_dir / 1000,required)
              .form-group
                .col-sm-6
                  label= __('file_max_age')
                .col-sm-3
                  input.form-control(type='text', name='cache_refresh_file' , value=config.cache_refresh_file / 1000,required)
              .form-group.text-center
                button.btn.btn-default(type='submit')= __('submit')
            form.form-horizontal(method='post')
                  input(type='hidden',name='a',value='clear_cache')
                  button.btn.btn-danger(href='?a=clear_cache')= __('clear_cache')

        .panel.panel-default
          .panel-heading= __('token')
          .panel-body
            form.form-horizontal(method='post')
              input(type='hidden',name='a',value='token')
              .form-group
                .col-sm-12
                  input.form-control(type='text', name='token' , placeholder=__('new_token'),required)
              .form-group.text-center
                button.btn.btn-default(type='submit')= __('submit')
        .panel.panel-default
          .panel-heading= __('site_title')
          .panel-body
            form.form-horizontal(method='post')
              input(type='hidden',name='a',value='title')
              .form-group
                .col-sm-12
                  input.form-control(type='text', name='title' , value=config.title , placeholder=__('site_title'),required)
              .form-group.text-center
                button.btn.btn-default(type='submit')= __('submit')
        .panel.panel-default
          .panel-heading
            span= __('virtual_path')
            a.create-path(style='float:right;')= __('add')
          .panel-body
            form.form-horizontal#j_path(method='post')
              .group-path
                input(type='hidden',name='a',value='path')
                each i in config.path
                  .form-group.item
                    .col-sm-2
                      select.form-control(name='vendor', value=(i.path.match(/^.*(?=\:\/\/)/) || [''])[0],placeholder=__('type'),required)
                        each vendor in vendors
                          option(value=vendor.code, selected=i.path.indexOf(vendor.code+':')>=0 ? 'selected' : null) #{vendor.name}
                    .col-sm-2
                      input.form-control(type='text', name='name', value=i.name,placeholder=__('name'),required)
                    .col-sm-7
                      input.form-control(type='text', name='path', value=i.path.replace(/^.*\:/,''),placeholder=__('input_path_placeholder'),required)
                    .col-sm-1
                      button.btn.btn-default.remove-path(type='button') -
              .form-group.text-center
                  button.btn.btn-default(type='submit')= __('submit')
            
      - else
        div.auth
          h3= __("manage")
          div
            .form-group
              input.sl-input#j_token(type='password', name='token', placeholder=__('input_token'))
            button.sl-button.btn-primary#signin(type="button")= __('signin')
  script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
  
  script.
    $(function(){
      $('#signin').on('click' , function(){
        location.href = '/manage/'+ $('#j_token').val()
      })

      $('#j_token').on('keypress' , function(e){
        if(e.keyCode == "13"){
          location.href = '/manage/'+ $('#j_token').val()
        }
      })

      var item
      if($('.item').length){
        item = $('.item:first').clone()
        item.find('input').val('')
      }
      $('body').on('click','.create-path' , function(){
        $('.group-path').append( item.clone() )
      })
      .on('click' ,'.remove-path' , function(){
        $(this).parents('.item').remove()
      })

      $('.sl-message').fadeOut(3000)
    })
    
    function update(){

    }

  include footer

  